html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(
    -45deg,
    rgb(27, 229, 236),
    #b68f10,
    #324bda,
    #06f591
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: rgb(151, 126, 16);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
}
h2 {
  color: rgb(32, 182, 94);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  position: absolute;
  top: 150px;
  left: 150px;
}

h3 {
  color: rgb(20, 97, 61);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  text-shadow: 0 0 10px #ffffff, 0 0 10px #000000;
  position: absolute;
  top: 450px;
  left: 525px;
}

h4 {
  color: rgb(26, 127, 209);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  position: absolute;
  top: 200px;
  left: 50px;
}

h5 {
  color: rgb(43, 180, 95);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  position: absolute;
  top: 125px;
  left: 850px;
}

h6 {
  color: rgb(90, 120, 219);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
  position: absolute;
  top: 175px;
  left: 850px;
}
